services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    ports:
      - "${BACKEND_PORT:-8000}:8000"
    container_name: fastapi-backend
    restart: unless-stopped
    env_file:
      - .env
    networks:
      - app-network

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
      args:
        - VITE_API_URL=https://total-life-daily-backend-268133943008.us-west1.run.app
        - VITE_YOUTUBE_API_KEY=${VITE_YOUTUBE_API_KEY:-}
        - VITE_SUPABASE_URL=${VITE_SUPABASE_URL}
        - VITE_SUPABASE_ANON_KEY=${VITE_SUPABASE_ANON_KEY}
        - VITE_GOOGLE_API_KEY=${VITE_GOOGLE_API_KEY}
    ports:
      - "3000:80"
    container_name: vite-frontend
    restart: unless-stopped
    depends_on:
      - backend
    networks:
      - app-network

networks:
  app-network:
    driver: bridge
